@import '@styles/variables';

.events-item-content {
  text-align: center;

  &.MuiCardContent-root {
    padding: 1rem 0.75rem 0;
  }

  & &-name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
    height: 5.5rem;
  }

  & &-date {
    margin-bottom: 1rem;
  }

  & &-description {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    min-height: 6rem;
    border-top: $default-border-width solid $primary-main;
    border-bottom: $default-border-width solid $primary-main;
  }
}
