@import '../../../../../../../../shared/styles/variables';

.about-item-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $contrast-text-color;

  & &-position {
    margin-bottom: 1rem;
  }

  &-description {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    height: 9rem;
    border-top: $default-border-width solid $primary-main;
    border-bottom: $default-border-width solid $primary-main;
  }
}
