@import '@styles/variables';
.table-specification {
  width: 100%;
  font-family: $default-font;
  padding-top: 0.5rem;

  &-headings {
    display: flex;
    text-align: left;
  }

  &-value {
    text-align: right;
  }
}
