@import './variables';

@mixin page-header {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 4rem;
  line-height: 3rem;
  text-align: center;
  color: $primary-dark;
  text-shadow: 4px 3px 5px $primary-main;
  font-family: $default-font;
}
