@import './variables';

@mixin page-header {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  text-align: center;
  color: $primary-dark;
  text-shadow: 4px 3px 5px $primary-main;
}

@mixin card-item {
  max-width: 16.75rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}
