//colors
$primary-main: #90caf9;
$primary-light: #c3fdff;
$primary-dark: #5d99c6;
$contrast-text-color: #212121;
$timer-border-color: #21212180;

//border-sizes
$default-border-radius: 4px;
$default-border-width: 1px;
$goback-button-border: 2px;

//breakpoints
$tablet-breakpoint: 900px;
$mobile-breakpoint: 640px;

//font-weights
$font-weight-normal: 400;
$font-weight-bold: 700;
