.astronautCard {
  padding-bottom: 10px;

  .astronautCardContent {
    text-align: center;

    .astronautCardContent_agency {
      margin-bottom: 10px;
    }

    .astronautCardContent_separator {
      width: auto;
      height: 1px;
      background-color: grey;
      opacity: 0.5;
      margin-bottom: 8px;
    }
  }

  .astronautCardActions {
    justify-content: center;
  }
}
