@import '../../styles/variables';

.MuiButton-root.secondary-button,
.MuiButton-root.secondary-button:hover,
.MuiButton-root.secondary-button:focus {
  border: $goback-button-border solid;
  font-weight: $font-weight-bold;
}

.MuiButton-root.secondary-button {
  color: $primary-dark;
}

.MuiButton-root.secondary-button:hover,
.MuiButton-root.secondary-button:focus {
  color: $primary-main;
}

.secondary-button {
  &-icon {
    margin-right: 0.5rem;
    padding-bottom: 0.2rem;
  }
  &-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}
