@import '../../../../../../../../shared/styles/variables';

.events-item-actions {
  justify-content: center;
  margin: auto 0;
  height: 4rem;

  &.MuiCardActions-root {
    padding: 0;
  }

  & &-info {
    text-transform: uppercase;
    font-weight: bold;
  }

  & &-button {
    align-items: center;

    &:hover {
      color: $primary-light;
    }

    &-icon {
      margin-right: 0.5rem;
    }
  }
}
