.card-title {
  text-align: center;
}

.card-details-grid {
  padding-left: 5rem;
}

.container .goback-button {
  margin: 0.5rem;
}

.card-title {
  text-align: center;
}

.card-details-grid {
  padding-left: 5rem;
}
