@import '../../styles/variables';

.list-item-actions {
  &-button {
    color: $contrast-text-color;
    &:hover,
    &:focus {
      color: $primary-light;
    }

    &-icon {
      margin-right: 0.5rem;
      padding-bottom: 0.2rem;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: $contrast-text-color;
    &:hover,
    &:focus {
      color: $primary-light;
    }
  }
}

.list-item-actions-button:hover .list-item-actions-link {
  color: $primary-light;
}
