@import '../../../../../../../../shared/styles/variables';

.about-item-content {
  text-align: center;
  margin-bottom: 0.5rem;
  color: $contrast-text-color;

  .about-item-content-position {
    margin-bottom: 1rem;
    border-bottom: 1px solid #00000050;
  }
}
