@import '../../shared/styles/mixins';
@import '../../shared/styles/variables';

.notfound-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include page-heading-style;

  &-header {
    margin: 0;
    padding-top: 3rem;
    font-size: 4rem;
  }

  &-404 {
    margin: 0;
    font-size: 6rem;
    padding: 1rem 0;
  }

  &-info {
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 3rem;
  }

  & &-button {
    display: inline-block;
    background-color: $primary-main;
    color: $contrast-text-color;
    font-size: 1.5rem;
    font-family: $default-font;
    padding: 1rem 6rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.5rem;
    border-bottom: 0.25rem solid $primary-dark;
    transition: 0.1s;
    box-shadow: 0 2px 3px $light-grey;

    &:hover {
      background-color: $primary-dark;
      border-bottom-width: 0;
      margin-top: 0.2rem;
    }
  }
}
