@import '../../../../shared/styles/variables.scss';

.slider-card {
  display: flex;
  border: 1px $primary-main-color solid;
  img {
    height: 34.375rem;
    max-width: 33.333%;
  }
}

.slider-card-content-container {
  flex: 1 1 auto;
}