@import '../../../../../../shared/styles/variables';

.card-details {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 11fr;
  grid-template-rows: repeat(5, 1fr);
  // gap: 1rem;
}

.agencies-item-content {
  text-align: center;
  margin-bottom: 0.5rem;
  color: $contrast-text-color;
}
