@import '../../../../../../shared/styles/variables';

.agencies-item-card {
  height: 16rem;
  display: flex;
  flex-direction: column;

  &-content {
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    color: $contrast-text-color;
    border-bottom: 1px solid $primary-main;
    height: 4.8rem;
  }
}
